  /* *{
 padding: 0;   
 margin: 0;
 box-sizing: border-box;
}



 .nav-link {
     font-weight:900;
   
    font-size: 20px;
    color:brown!important;
} 


.image-text{
    color:  rgb(232, 99, 104) ;
   text-decoration: none;
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
   
}
.image-text:hover {
    background-color: rgb(118, 68, 211);
 }
 .card:hover{
    transition: 0.4s ease-in-out;
    transform: scale(1.2);
 }
.secondary_color{
    background-color: brown; 
} 
.custom-h{
    height: 600px;
} 
 @media screen and (max-width: 1024px) {
    .mb-3 {
        width: 100%;
    }
} 



  */
