*{
 padding: 0;   
 margin: 0;
 box-sizing: border-box;
}

.navbar{
    height: 100px;
}

.nav-link {
    font-weight:500;
    margin: 5px;
    font-size: 20px;
    color: rgb(232, 99, 104) !important;
}

.navbar-nav {
    margin-right: 10px;
}
.nav-image{
    border-radius: 50%;
    margin-left: 5px;
}
.image-text{
    color:  rgb(232, 99, 104) ;
   text-decoration: none;
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
   
}
.image-text:hover {
    background-color: rgb(118, 68, 211);
 }
.secondary_color{
   /* background-color: brown; */
}
.custom-h{
    height: 600px;
}




